.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem;
  background-color: #f9f9f9;
}

.loginTitle {
  color: rgb(51, 51, 51);
  font-size: 2.8rem;
  line-height: 1.5;
}

.subParagraph {
  color: #666666;
  font-size: 1.4rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  max-width: 48rem;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 0.2rem 1.5rem;

  background-color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  width: 27.5rem;
}
