.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 4rem 30rem 6rem;
}

.exhibitionItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibitionImage {
  width: 100%;
  height: 20rem;
  object-fit: fill;
}

.titleSpan {
  font-size: 1.4rem;
  font-weight: 500;
}

.subSpan {
  color: #878787;
}

.newsListSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1500px) {
  .layout {
    padding: 4rem 10rem 6rem;
  }
}

@media (max-width: 1072px) {
  .layout {
    padding: 4rem 5rem 6rem;
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 4rem 2rem 6rem;
  }
}
