.layout {
  width: 100%;
  padding: 8px 8px 10px 8px;

  gap: 10px;
  margin-bottom: 2rem;

  border-radius: 16px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);

  break-inside: avoid;
}

.artworkImage {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;

  border-radius: 8px;
}

.artworkTitle {
  margin: 0;

  color: var(--black02);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.2px;
}

.subParagraph {
  color: #666666;
  font-size: 1.2rem;

  margin-top: 8px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  word-break: keep-all;

  line-height: 1.5;
  max-height: 4.5em;
}
