.relatedSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}

/* 카드 */
.card {
  position: relative;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-3px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.3s ease;
}

.card:hover .image {
  scale: 1.03;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.5rem;
  flex-grow: 1;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #222;
}

.meta {
  font-size: 1.5rem;
  color: #666;
}

.date {
  font-size: 1.4rem;
  color: #8a8d91;
}

.locButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  right: 2rem;
}

.emptyContent {
  text-align: center;
  padding: 4rem 0;
  font-size: 1.5rem;
  color: #aaa;
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .imageWrapper {
    width: 100%;
    height: 180px;
  }
}
