.layout {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.radioLabel {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  transition: color 0.2s ease;
}

.radioInput[type='radio'] {
  appearance: none;
  margin: 0;

  width: 2rem;
  height: 2rem;

  border: 0.15rem solid #d1d5db;
  border-radius: 50%;
  background-color: #fff;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.layout:hover .radioInput[type='radio'] {
  border-color: var(--primary);
}

.radioInput[type='radio']:checked {
  border-color: var(--primary);

  border-width: 0.6rem;
}

.radioInput[type='radio']:checked + .radioLabel {
  color: var(--primary);
  font-weight: 600;
}
