.layout {
  overflow: auto;
  margin: 2rem;
}
.exhibitionInfo {
  text-align: center;
  margin-bottom: 3.2rem;
}

.exhibitionImage {
  object-fit: cover;
  width: 50%;
  border-radius: 1.2rem;
}

.exhibitionTitle {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.exhibitionDetail {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.formContainer {
  margin: 4rem auto;
  padding: 2.4rem;
  border: 0.1rem solid #ddd;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.formContainer h2 {
  font-size: 1.5rem;
}

.label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  font-size: 1.4rem;
}

.button {
  width: 100%;
  margin-top: 3rem;
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #3f51b5;
  color: white;
  font-size: 1.6rem;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #303f9f;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  margin: 0 0 2rem;
}

.tab {
  padding: 1.2rem 2rem;
  border: none;
  border-bottom: 0.2rem solid transparent;
  background: none;
  color: grey;
  font-weight: bold;
}

.activeTab {
  border-bottom: 0.2rem solid black;
  color: black;
}

.tabContent {
  margin-bottom: 3rem;
  padding: 1.6rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  background-color: #fff;
}
