.layout {
  overflow: auto;
  margin: 2rem;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.backBtn {
  font-size: 2rem;
  cursor: pointer;
}

.exhibitionInfo {
  text-align: center;
  margin-bottom: 3.2rem;
}

.exhibitionImage {
  object-fit: cover;
  width: 50%;
  border-radius: 1.2rem;
}

.exhibitionTitle {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.exhibitionDetail {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.formContainer {
  margin: 4rem auto;
  padding: 2.4rem;
  border: 0.1rem solid #ddd;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.button {
  width: 100%;
  margin-top: 1rem;
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.6rem;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #303f9f;
}

.totalSection {
  padding: 1.5rem;
  background-color: #e5e5e5;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.tab {
  padding: 1.2rem 2rem;
  border: none;
  border-bottom: 0.2rem solid transparent;
  background: none;
  color: grey;
  font-weight: bold;
}

.activeTab {
  border-bottom: 0.2rem solid black;
  color: black;
}

.tabContent {
  margin-bottom: 3rem;
  padding: 1.6rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.8rem;
  background-color: #fff;
}

.selectorSection {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.selectorSection h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timeButtonContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeBtn {
  flex: 1;
  min-width: 5rem;
  padding: 1rem 1.4rem;
  background-color: #eee;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: 500;
}

.active {
  background-color: #3f51b5;
  color: #fff;
}

.counterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.counterRow button {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  background-color: #eee;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.count {
  display: inline-block;
  width: 3rem;
  text-align: center;
}
