@font-face {
  font-family: 'Pretendard-Variable';
  font-display: swap;
  src: url('./assets/font/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Segoe-UI';
  src: url('./assets/font/SegoeUI-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LeeSunSinDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

body {
  width: 100%;
  min-height: 100vh;

  font-family: 'Pretendard-Variable', 'Noto-sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #020202;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

button {
  font-family: 'Pretendard-Variable', 'Noto-sans', sans-serif;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

textarea {
  font-family: 'Pretendard-Variable', 'Noto-sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root,
body,
html {
  font-size: 62.5%;
  margin: 0 auto;
  /* 버튼 클릭 시 색 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: black;

  /* 파이어폭스 스크롤바 숨김 */
  scrollbar-width: none;
  /* 인터넷 익스플로러 스크롤바 숨김 */
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  /* 크롬, 사파리, 오페라, 엣지 스클로바 숨김 */
  display: none;
}
