body {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #020202;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#root,
body,
html {
  font-size: 62.5%;
  margin: 0 auto;
  /* 버튼 클릭 시 색 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: black;

  /* 파이어폭스 스크롤바 숨김 */
  scrollbar-width: none;
  /* 인터넷 익스플로러 스크롤바 숨김 */
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  /* 크롬, 사파리, 오페라, 엣지 스클로바 숨김 */
  display: none;
}