/* 1. Display */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 2. Position */

/* 3. Box */
.container {
  padding: 5rem 0;
}

.message {
  margin-bottom: 0.5rem;
}

/* 4. Background */

/* 5. Font */
.message {
  font-size: 1.125rem;
  color: #6b7280;
}

.buttonText {
  font-size: 1rem;
  color: #2563eb;
}

.instruction {
  font-size: 1rem;
  color: #9ca3af;
}

/* 6. Animation */

/* 7. 기타 속성 */

