.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 46, 58, 0.2);
  z-index: 9999;

  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 10rem;
  background: #fff;
  border-radius: 16px;

  color: #222;
  font-size: 18px;
  font-weight: 500;
}

.closeButton {
  width: 80%;
  height: 3rem;
  margin-top: 2rem;
  background: var(--blue01);
  border-radius: 12px;
  color: #fff;
}
