.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;

  width: 100%;
  margin-top: 1rem;
}

.speedContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;

  padding: 24px 18px 24px 18px;

  background: var(--white01);
  border-radius: 16px;
  border: 1px solid var(--color-grey-74, #bdbdbd);

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.speedButton {
  display: flex;
  width: 60px;
  height: 24px;
  padding: 2px 30px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 20px;
  background: var(--color-grey-91, #e9e9e9);
}

.clickedSpeedButton {
  color: var(--white01);
  background: var(--primary);
}

.buttonField {
  display: flex;
  justify-content: space-between;
}

.optionSpan {
  font-size: 1.4rem;
  font-weight: 500;
}

.optionButton {
  color: #777;
}
