.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 30rem 6rem;
}

.registerTitle {
  color: rgb(51, 51, 51);
  font-size: 2.8rem;
  line-height: 1.5;
}

.subParagraph {
  color: #666666;
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding-top: 3rem;
}

.radioGroup {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.submitButton {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 7px 30px;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 20px;
  background-color: var(--primary);

  color: var(--white01);
}

.submitButton:hover {
  background-color: var(--blue02);
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
  .layout {
    padding: 4rem 7rem 6rem;
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 2rem;
  }

  .submitButton {
    margin-top: 1rem;
  }
}
