.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  position: relative;

  min-height: calc(100vh - 9rem);
  padding: 2rem;

  font-size: 1.2rem;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}

.title {
  padding-bottom: 1rem;
  color: #333;
  font-size: 2.4rem;
}

.exhibitionImage {
  width: 100%;
  height: 50rem;

  object-fit: fill;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.infoContainer {
  display: flex;
  gap: 1rem;

  color: #333;
  font-size: 1.6rem;
  white-space: pre-wrap;
}

.infoSpan {
  width: 7rem;

  color: #555;
  font-weight: 500;
}

.infoParagraph {
  display: inline-block;
}

.userActionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: 7rem;
  height: 7rem;

  border: 1px solid #ddd;
  border-radius: 0.8rem;

  background-color: #fff;

  color: #666;
  font-size: 1.2rem;
}

.subTitle {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #e5e5e5;

  color: #333;
  font-size: 2rem;
}

.subParagraph {
  width: 100%;

  color: #333;
  font-size: 1.5rem;
}

.subSpan {
  margin: 2rem 0;
  color: #666;
  font-size: 1.2rem;
}

.divider {
  width: 100%;

  border: none;
  border-top: 0.1rem solid #e5e5e5;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icHeart {
  fill: #e57373;
}

.userActionContainer {
  display: flex;
  gap: 2rem;
}

.backButton {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  color: #666;
  font-size: 1.4rem;
  font-weight: 500;
}

.relatedExhibitionGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.relatedExhibitionCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden;
}

.relatedExhibitionImage {
  width: 100%;
  height: 40rem;
  border-radius: 0.8rem;

  object-fit: fill;
}

.relatedExhibitionInfo {
  padding: 1.5rem 1rem;
  color: #333;
}

.relatedExhibitionTitle {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.relatedExhibitionPar {
  margin: 0;
  font-size: 1.4rem;
  color: #666;
}

.relatedExhibitionSubPar {
  margin: 0;
  font-size: 1.2rem;
  color: #888;
}
