.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.searchTitle {
  color: #333;
  font-size: 2rem;
}

.resultNumParagraph {
  font-size: 1.4rem;
}

.highlightSpan {
  color: #5a4fcf;
  font-weight: 600;
}
