.cardContainer {
  display: flex;
  border: 0.1rem solid #eee;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: white;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  width: 100%;
}
.cardContainer:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.imgContainer {
  width: clamp(9rem, 14vw, 12rem);
  flex-shrink: 0;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistImage {
  margin: 1rem;
  width: clamp(7rem, 12vw, 10rem);
  height: clamp(7rem, 12vw, 10rem);
  border-radius: 50%;
  object-fit: cover;
}

.contents {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(1.4rem, 2.2vw, 1.6rem);
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.info {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: #666;
  margin: 0 0 auto 0;
  line-height: 1.5;
}

.statusContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.statusCompleted {
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  font-weight: 500;
  color: #3cb371;
  margin-top: 1rem;
}

.statusReserved {
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  font-weight: 500;
  color: #1a73e8;
  white-space: nowrap;
  margin-right: 1rem;
}

.statusCanceled {
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  font-weight: 500;
  color: #dc3545;
  margin-top: 1rem;
}

.complete {
  color: #28a745;
}
.cancel {
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid #dc3545;
  background-color: #fff;
  color: #dc3545;
  border-radius: 0.4rem;
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  cursor: pointer;
  transition: all 0.2s;
}

.cancel:hover {
  background-color: #dc3545;
  color: #fff;
}

.action {
  display: flex;
  gap: 0.8rem;
}

.btn {
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 0.4rem;
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.catalogRegisteredDate {
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  color: #999;
  margin: 1rem 0 0 0;
}

@media (max-width: 700px) {
  .cardContainer {
    flex-direction: column;
  }
  .imgContainer {
    width: 100%;
  }
  .image {
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .artistImage {
    margin: 1rem auto;
  }
}
