.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 100%;
  height: 25.2rem;
  padding: 8px 8px 24px 8px;

  gap: 1rem;

  border-radius: 16px;

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.artistImage {
  width: 100%;
  height: 15rem;
  border-radius: 12px;

  object-fit: cover;
  transition: transform 0.3s;
}

.artistNameTitle {
  color: var(--black01);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 75% */
  letter-spacing: -0.2px;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  width: 5rem;
  height: 1.9rem;

  font-size: 0.9rem;
  color: var(--white01);
  border-radius: 10px;
  background: var(--blue01);
  z-index: 5;
}

.subParagraph {
  color: var(--gray03);
  font-size: 18px;
  line-height: 126%; /* 22.68px */
  letter-spacing: -0.2px;
}

.favButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  right: 2rem;
  top: 16.5rem;
}

.icon {
  font-size: 1.8rem;
  color: #bdbdbd;
}

.likedIcon {
  font-size: 1.8rem;
  color: var(--blue01);
}

@media (max-width: 756px) {
  .artistNameTitle {
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 75% */
    letter-spacing: -0.2px;
  }

  .subParagraph {
    color: var(--gray03);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
  }
}
