.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 25.2rem;
  padding: 8px 8px 24px 8px;

  gap: 1rem;

  border-radius: 16px;

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.artistImage {
  width: 100%;
  height: 15rem;
  border-radius: 12px;

  fill: object-fit;
  transition: transform 0.3s;
}

.artistNameTitle {
  color: var(--black01);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 75% */
  letter-spacing: -0.2px;
}

.subParagraph {
  color: var(--gray03);
  font-size: 18px;
  line-height: 126%; /* 22.68px */
  letter-spacing: -0.2px;
}

@media (max-width: 756px) {
  .artistNameTitle {
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 75% */
    letter-spacing: -0.2px;
  }

  .subParagraph {
    color: var(--gray03);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
  }
}
