.termsLayout {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 4rem 30rem 6rem;
}

.mainTitle {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tabWrapper {
  display: flex;
  background: #f8f8f8;
}

.tab {
  width: 100%;
  padding: 1.5rem 2rem;
  background: none;
  border: none;
  color: #666;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:hover {
  color: #000;
}

.active {
  color: var(--blue01);
  font-weight: 500;
  border-radius: 20px 20px 0 0;
  background: #fff;
  box-shadow: 2px -3px 6px 0 rgba(0, 0, 0, 0.12);
}

.contentContainer {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  padding: 18px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;

  border-radius: 16px;
  background: var(--color-white-solid, #fff);

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);

  font-size: 1.4rem;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  white-space: pre-wrap;
  word-break: keep-all;
}

@media (max-width: 1500px) {
  .termsLayout {
    padding: 4rem 10rem 6rem;
  }
}

@media (max-width: 1000px) {
  .termsLayout {
    padding: 4rem 5rem 6rem;
  }
}

@media (max-width: 700px) {
  .termsLayout {
    padding: 4rem 2rem 6rem;
  }
}
