.layout {
  display: flex;
  border-bottom: 0.2rem solid #ccc;
  margin-bottom: 1.6rem;
}

.tabButton {
  padding: 1.2rem 2rem;
  font-weight: bold;
  color: grey;
  border: none;
  background: none;
  border-bottom: 0.2rem solid transparent;
}

.tabButton:hover,
.tabButton.active {
  color: black;
  border-bottom: 2px solid black;
}
