.layout {
  display: flex;
  border-bottom: 0.2rem solid #ccc;
}

.tabButton {
  padding: 1.2rem 2rem;
  border: none;
  border-bottom: 0.2rem solid transparent;
  background: none;
  color: grey;
  font-weight: bold;
}

.tabButton:hover,
.tabButton.active {
  border-bottom: 0.2rem solid black;
  color: black;
}
