.header {
  margin-bottom: 1.5rem;
}

.countText {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.4rem;
  color: #666;
  display: block; /* 또는 inline-block */
  width: 100%;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}

.count {
  color: #3cb371;
  font-weight: 600;
  margin-left: 0.5rem;
}

.tabButtonContainer {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.tabButton {
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background-color: #f2f2f2;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  color: #666;
}

.active {
  background-color: black;
  color: white;
}

.cardListSection {
  margin-top: 1.6rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.6rem;
}

.emptyText {
  font-size: 1.4rem;
  color: #999;
  text-align: center;
  margin-top: 3.2rem;
}

@media (max-width: 700px) {
  .tabButtonContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 1280px) {
  .cardList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .cardList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}
