.exhibitionCardLayout {
  width: 100%;
  height: 27rem;

  position: relative;
  padding: 8px 8px 24px 8px;
  gap: 10px;

  border-radius: 16px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.exhibitionItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  width: 5rem;
  height: 1.9rem;

  font-size: 0.9rem;
  color: var(--white01);
  border-radius: 10px;
  background: var(--light-gray01);
  z-index: 5;
}

.ongoing {
  background: var(--blue01);
}

.imageBox {
  position: relative;
}

.exhibitionImage {
  width: 100%;
  height: 169px;
  border-radius: 0.8rem;

  object-fit: fill;
}

.favButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  right: 2.5rem;
  top: 2rem;
}

.locButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  right: 2.4rem;
  bottom: 6rem;
  gap: 1rem;
}

.icon {
  font-size: 1.8rem;
  color: #bdbdbd;
}

.likedIcon {
  font-size: 1.8rem;
  color: #e57373;
}

.icLoc {
  width: 1.5rem;
  height: 1.5rem;
  color: #4caf50;
}

.exhibitionTitle {
  margin-bottom: 0.5rem;

  color: #333;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}

.infoContainer {
  padding: 1.5rem 0.5rem;
}

.subParagraph {
  color: #666;
  font-size: 1.4rem;
}
