.layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.6rem;
  outline: none;

  font-size: 1.4rem;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #007bff;
}
