.footerLayout {
  position: relative;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3.2rem 1.6rem;
  background-color: #f1f1f1;
  text-align: left;
}

.footerContentBox {
  margin-bottom: 1.6rem;
}

.footerLinksContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footerLinksBox {
  display: flex;
  white-space: nowrap;
}

.footerLinksBox a {
  margin-right: 1.6rem;
  color: #999;
  text-decoration: none;
}

.footerAppsBox {
  display: flex;
  gap: 1.6rem;
  white-space: nowrap;
}
