.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.countText {
  font-size: 1.4rem;
  color: #666;
  display: flex;
  align-items: center;
}

.count {
  color: #3cb371;
  font-weight: 600;
  margin-left: 0.5rem;
}

.registerCatalogBtn {
  background-color: #b37dec;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerCatalogBtn:hover {
  background-color: #9c69d3;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.emptyText {
  text-align: center;
  padding: 2rem;
  color: #999;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .emptyText {
    font-size: 1.4rem;
  }
}
