.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 10rem;
}

.infoBox {
  color: #222;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
