.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 15px;

  transform: translate(-50%, -50%);
}

.infoBox {
  color: #222;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
