.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0.5rem 0.8rem;
  margin-left: 2rem;
  border-radius: 2.4rem;

  background-color: transparent;

  transform-origin: right;
  transform: scaleX(0);
  animation: expandFromRight 0.6s ease-out forwards;
}

@keyframes expandFromRight {
  to {
    transform: scaleX(1);
  }
}

.searchInput {
  width: 15rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 0.1rem solid var(--gray01);
  background-color: transparent;
  color: var(--chacol02);
  font-size: 1.6rem;
  outline: none;
}
