.mobileMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  box-sizing: border-box;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.slide::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(160deg, rgba(0, 0, 0, 0) 21.12%, #000 103.01%);
  z-index: 2;
}

.slideImage {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
}

.tagline {
  color: #fff;
  margin-top: 1.2rem;
  text-align: right;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  position: absolute;
  right: 1rem;
  top: 32rem;
}

.contentContainer {
  padding: 1.5rem;
}

.userText {
  color: #222;

  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 33px; /* 151.181% */
  letter-spacing: -0.5px;
}

.itemContainer {
  display: flex;
  height: 100px;
  padding: 0 16px;
  margin-bottom: 5rem;
  justify-content: space-between;
  align-items: center;
  gap: 29px;

  border-radius: 16px;
  background: #fff;

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #555;

  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; /* 130.769% */
}

.nonGalleryBox {
  display: flex;
  height: 5rem;
  padding: 9px 30px 7px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  background: var(--color-grey-94, #efefef);

  color: var(--color-grey-70, #b2b2b2);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.2px;

  white-space: pre-line;
}

.exhibitionList {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-bottom: 5rem;
}

.galleryItemCard {
  display: flex;
  width: 100%;
  padding: 12px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 16px;

  /* shadow */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

.galleryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: -0.1px;
}

.exhibitionSpan {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: -0.1px;
}

.addressText {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px; /* 135.714% */
  letter-spacing: -0.1px;
}

.imageBox {
  position: relative;
  width: 100%;
}

.statusBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;

  width: 5rem;
  height: 1.9rem;

  font-size: 0.9rem;
  color: var(--white01);
  border-radius: 10px;
  background: var(--light-gray01);
  z-index: 5;
}

.ongoing {
  background: var(--blue01);
}

.exhibitionImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
}
