.mobileMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  box-sizing: border-box;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 1.2rem;
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  cursor: pointer;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.tagline {
  color: #fff;
  margin-top: 1.2rem;
  text-align: right;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  position: absolute;
  right: 1rem;
  top: 32rem;
}
