.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 4rem 20rem 6rem;
  overflow-x: hidden;
}

.gridContainer {
  column-count: 4;
}

.gridContainer > * {
  display: inline-block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  box-sizing: border-box;
}

.nonDataText {
  padding-top: 3rem;
  text-align: center;
  color: var(--gray02);
  font-size: 1.4rem;
}

/* 반응형 */
@media (max-width: 1500px) {
  .layout {
    padding: 4rem 10rem 6rem;
  }
  .gridContainer {
    column-count: 3;
  }
}

@media (max-width: 1000px) {
  .layout {
    padding: 4rem 5rem 6rem;
  }
  .gridContainer {
    column-count: 2;
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 4rem 2rem 6rem;
  }
  .gridContainer {
    column-count: 2;
  }
}
