.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.8rem;
  width: 90%;
  height: 85%;
  max-width: 40rem;
  padding: 2rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.2);
}

.closeButton {
  margin-left: auto;
}

.tabArea {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-90, #e5e5e5);
  background: #f8f8f8;
  margin-bottom: 2rem;
  overflow-x: auto;
  border-radius: 20px 20px 0 0;
}

.tabButton {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
  border-radius: 20px 20px 0 0;

  color: #666;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
}

.tabButton:hover,
.tabButton.active {
  background: #fff;
  box-shadow: 2px -3px 6px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-bottom: 0.2rem solid transparent;
  color: var(--primary);
  font-weight: 600;
}

.generateContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
