.layout {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 4rem 40rem 6rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 2rem;
  border-radius: 16px;
  border: 1px solid var(--color-grey-74, #bdbdbd);

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);

  width: 100%;
}

.title {
  margin-bottom: 2.4rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.2rem solid #ccc;

  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

.infoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.textContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.6rem;
}

.textBox {
  width: 100%;
  display: flex;
  gap: 4rem;

  font-size: 1.4rem;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  border-top: 1px solid #eee;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.navButton {
  display: inline-block;

  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 6px;

  background-color: #4b4ded;

  color: white;
  font-size: 1rem;

  cursor: pointer;
}

.navButton:disabled {
  background-color: #aaa;

  cursor: not-allowed;
}

@media (max-width: 1500px) {
  .layout {
    padding: 4rem 10rem 6rem;
  }
}

@media (max-width: 1000px) {
  .layout {
    padding: 4rem 5rem 6rem;
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 4rem 2rem 6rem;
  }
}
