.exhibitionList {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: 100%;
  margin-bottom: 3rem;
}

.exhibitionCard {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.2s ease-in-out;
}

.exhibitionCard:hover {
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.104);
}

.imageContainer {
  position: relative;
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
}

.exhibitionImage {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
}

.statusTag {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  padding: 0.4rem 1rem;
  border-radius: 1.4rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}

.statusOn {
  background-color: var(--blue01);
}
.statusScheduled {
  background-color: #6c757d;
}
.statusDone {
  background-color: #dc3545;
}
.statusDefault {
  background-color: #adb5bd;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem 0;
  gap: 0.6rem;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #1c1e21;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  font-size: 1.5rem;
  color: #65676b;
}

.date {
  font-size: 1.5rem;
  color: #8a8d91;
}

.emptyContent {
  text-align: center;
  padding: 4rem 0;
  font-size: 1.6rem;
  color: #aaa;
}

@media (max-width: 1072px) {
  .title {
    font-size: 1.5rem;
    font-weight: 650;
  }

  .location {
    font-size: 1.4rem;
  }

  .date {
    font-size: 1.4rem;
  }

  .emptyContent {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.4rem;
    font-weight: 650;
  }

  .location {
    font-size: 1.3rem;
  }

  .date {
    font-size: 1.3rem;
  }

  .emptyContent {
    font-size: 1.4rem;
  }
}
