.paginationContainer {
  display: flex;
  justify-content: center;

  gap: 5rem;
  margin-top: 2rem;
}

.pageButton {
  border-radius: 6rem;
  width: 3.5rem;
  height: 3.5rem;

  background-color: var(--white01);
  font-size: 2.2rem;
  line-height: 30px; /* 136.364% */
  letter-spacing: 0.5px;

  cursor: pointer;
  transition: all 0.2s;
}

.pageButton:hover:not(.active) {
  border-color: #888;

  color: #000;
}

.active {
  color: var(--white01);
  background-color: var(--blue01);

  color: white;
}

.disabled {
  cursor: default;
}
