.paginationContainer {
  display: flex;
  align-items: center;
}

.sideButtonContainer {
  flex: 0 0 auto;
}

.pageNumbersContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 8px;
}

.pageButton {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  background-color: var(--white01);
  font-size: 1.5rem;

  cursor: pointer;
  transition: all 0.2s;
}

.pageButton:hover:not(.active) {
  border-color: #888;

  color: #000;
}

.active {
  color: var(--white01);
  background-color: var(--blue01);

  color: var(--white01);
  background-color: var(--blue01);

  color: white;
}

.disabled {
  cursor: default;
}

@media (min-width: 700px) {
  .paginationContainer {
    width: 50rem;
    margin: auto;
  }
}
