.cardContainer {
  display: flex;
  align-items: flex-start;
  padding: 1.2rem;
  gap: 1rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.image {
  flex-shrink: 0;
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 0.2rem;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
  font-size: 0.9rem;
}

.title {
  color: #222;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  word-break: keep-all;
}

.location {
  color: #666;
  font-size: 0.85rem;
}

.date {
  color: #999;
  font-size: 0.8rem;
}

.btn {
  display: inline-block;
  width: fit-content;
  margin-top: 0.4rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.confirmBtn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  padding: 0.7rem 1rem;
  background-color: #6c6c6c;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.upcoming {
  border: 0.1rem solid #b19900;
  background-color: #fff8e1;
  color: #b19900;
}

.ongoing {
  border: 0.1rem solid #1554b2;
  background-color: #eef3fc;
  color: #1554b2;
}

.closed {
  border: 0.1rem solid #aaa;
  background-color: #f0f0f0;
  color: #444;
}
