.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.pageTitle {
  display: inline-block;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
}

.editLink {
  color: #707070;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media (max-width: 600px) {
  .layout {
    gap: 1rem;
  }
}
