.headerLayout {
  position: sticky;
  top: 0rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6rem;
  padding: 1.5rem 3rem;
  border-bottom: 2px solid var(--blue01);

  background-color: var(--white01);
  color: white;

  z-index: 2000;
}

.logoSpan {
  font-family: 'Segoe-UI';
  color: var(--blue01);
  font-size: 2.5rem;
}

.logoSpan:hover {
  cursor: pointer;
}

.closeButton {
  display: flex;
  width: 2rem;
  height: 2rem;

  color: #eee;
  font-size: 1.2rem;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.notificationButton {
  cursor: pointer;
  display: flex;
  align-items: center;
}