.headerLayout {
  position: sticky;
  top: 0rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  padding: 10px 21px 11px 16.767px;

  background-color: var(--primary);
  color: white;

  z-index: 2000;
}

.logoButton {
  display: flex;
  align-items: center;
}

.closeButton {
  display: flex;
  width: 2rem;
  height: 2rem;

  color: #eee;
  font-size: 1.2rem;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.notificationButton {
  cursor: pointer;
  display: flex;
  align-items: center;
}
