.headerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 4rem;
  padding: 0.5rem 1.6rem;

  background-color: #5a4fcf;
  color: white;
}

.logoBox {
  font-size: 2rem;
  font-weight: 700;
}
