.exhibitionSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.exhibitionTypeContainer {
  display: flex;
}

.activedExhibitionTypeBox,
.exhibitionTypeBox {
  width: 50%;
  border-bottom: 0.2rem solid #eaeaea;

  font-size: 1.6rem;
  text-align: center;
}

.activedExhibitionTypeBox {
  border-bottom: 0.2rem solid #020202;

  font-weight: 500;
}

.exhibitionItemList {
  display: flex;
  gap: 2rem;
}

.exhibitionItemContainer {
  display: flex;
  flex-direction: column;
}

.exhibitionImage {
  width: 7rem;
  height: 10rem;

  object-fit: fill;
}

.titleSpan {
  font-size: 1.4rem;
  font-weight: 500;
}
