.announcementLayout {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 4rem 30rem 6rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tabWrapper {
  display: flex;
  background: #f8f8f8;
}

.tab {
  width: 100%;
  padding: 1.5rem 2rem;
  background: none;
  border: none;
  color: #666;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:hover {
  color: #000;
}

.active {
  color: var(--blue01);
  font-weight: 500;
  border-radius: 20px 20px 0 0;
  background: #fff;
  box-shadow: 2px -3px 6px 0 rgba(0, 0, 0, 0.12);
}

.loading {
  text-align: center;
  color: #888;
  padding: 2rem 0;
}

.listItem {
  padding: 1rem 1.2rem;
}

.buttonField {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--color-grey-74, #bdbdbd);
  font-size: 1.8rem;
  font-weight: 500;
}

.contentContainer {
  font-size: 1.6rem;
  white-space: pre-wrap;
  padding: 1rem 0;
}

.card {
  border: 0.1rem solid #eee;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  position: relative;
}

.cardHeader {
  width: 100%;
  padding: 4rem 30rem 6rem;
}

@media (max-width: 1500px) {
  .announcementLayout {
    padding: 4rem 10rem 6rem;
  }
}

@media (max-width: 1072px) {
  .announcementLayout {
    padding: 4rem 5rem 6rem;
  }
}

@media (max-width: 700px) {
  .announcementLayout {
    padding: 4rem 2rem 6rem;
  }
}
