.card {
  width: 100%;
  height: 17.2rem;
  border-radius: 10px;
  padding: 34px 44px;
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s;
  background: white;
  position: relative;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 8px;
}

.badge {
  display: flex;
  padding: 3px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 20px;
  border: 1.3px solid var(--GrayScale-Placehoder, #888);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;

  color: #888;
}

.진행중 {
  border-color: var(--primary);
  color: var(--primary);
}

.종료 {
  color: #888;
}

.title {
  overflow: hidden;
  color: var(--black01);
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.info {
  font-size: 14px;
  color: #555;
}

.period,
.organizer {
  margin: 2px 0;
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.cardImageWrapper {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  width: 10rem;
  height: 10rem;
}

@media (max-width: 768px) {
  .cardImageWrapper {
    width: 6rem;
    height: 6rem;
    right: 1.5rem;
  }
  
  .card {
    padding: 2rem;
  }
  
  .title {
    max-width: calc(100% - 8rem);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cardImageWrapper {
    width: 8rem;
    height: 8rem;
    right: 2rem;
  }
}