.layout {
  width: 100%;
  height: auto;

  padding: 0.8rem;
  border-radius: 16px;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);

  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.linkContainer {
  width: 100%;
  position: relative;
}

.galleryImage {
  width: 100%;
  aspect-ratio: 16 / 9;

  border-radius: 12px;
  aspect-ratio: 16 / 9;

  border-radius: 12px;

  object-fit: cover;
}

.infoContainer {
  padding: 1.5rem;
}

.favButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

.icon {
  font-size: 1.8rem;
  color: #bdbdbd;
}

.likedIcon {
  font-size: 1.8rem;
  color: #3f51b5;
}

.galleryTitle {
  margin: 0;
  padding-bottom: 0.5rem;
  color: var(--black01);
  font-size: 2rem;
  font-weight: 600;
  line-height: 18px; /* 75% */
  letter-spacing: -0.2px;
}

.addressParagraph {
  color: #666666;
  font-size: 1.6rem;
  line-height: 126%; /* 22.68px */
  letter-spacing: -0.2px;
}

@media (max-width: 1000px) {
  .galleryTitle {
    font-size: 2rem;
  }
  .addressParagraph {
    font-size: 1.6rem;
  }
}

@media (max-width: 700px) {
  .linkContainer {
    display: flex;
  }
  .galleryImage {
    width: 40%;
    height: 11rem;
  }
  .infoContainer {
    padding-top: 2rem;
  }
  .galleryTitle {
    font-size: 1.4rem;
  }
  .addressParagraph {
    font-size: 1.2rem;
  }
}
