.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  height: 4.2rem;
}

.listTitle {
  display: inline-block;
  color: #333333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

.clickedFavButton,
.favButton {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  height: 3.1rem;

  padding: 0.6rem 1.2rem;
  border: 0.1rem solid #dddddd;
  border-radius: 2rem;

  background-color: #f5f5f5;

  color: #666666;
  font-size: 1.2rem;

  cursor: pointer;
}

.clickedFavButton {
  border: 0.1rem solid #ffcdd2;
  background-color: #ffebee;
  color: #e57373;
}
.clickedIcon {
  color: #e57373;
}

.searchForm {
  display: flex;
  position: relative;
  width: 60rem;
  height: 5rem;
}

.searchInput {
  flex: 1 1 0%;
  flex-shrink: 0;
  padding: 1rem 1.5rem;
  border-radius: 2.6rem;
  border: none;

  background-color: var(--white02);

  font-size: 1.4rem;

  outline: none;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 0;

  padding: 1rem 1.5rem;
}

@media (max-width: 1023px) {
  .searchForm {
    width: 40rem;
  }
}

@media (max-width: 767px) {
  .searchForm {
    width: 25rem;
  }
}
