.navbarNavigation {
  display: flex;
  align-items: center;

  position: sticky;
  top: 6rem;

  width: 100%;
  height: 6.5rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  color: black;

  overflow-x: auto;
  scrollbar-width: none;

  z-index: 1000;
}

.menuList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  padding: 0 5rem;

  color: var(--white02);
}

.menuItem {
  position: relative;

  padding: 0.5rem 0;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.defaultLink,
.activeLink {
  color: var(--white01);

  text-decoration: none;
  font-size: 1.6rem;
}

.activeLink {
  color: var(--white01);
  font-weight: 500;
}
