.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.8rem;
  width: 90%;
  max-height: 90vh;
  max-width: 40rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid #eee;
  flex-shrink: 0;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.closeButton {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #888;
  cursor: pointer;
}

.body {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto; /* 내용이 길면 스크롤 생김 */
  /* 스크롤바 디자인 (크롬, 사파리 등) */
  scrollbar-width: thin;
}

.qrDownloadArea {
  padding: 2rem;
  display: inline-block;
  background-color: #fff;
}

.galleryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.galleryName {
  font-size: 1.8rem;
  font-weight: bold;
}

.galleryNameEn {
  font-size: 1.4rem;
  color: #888;
}

.qrCodeWrapper {
  padding: 1rem;
  border: 0.1rem solid #eee;
  display: inline-block;
}

.downloadButton {
  margin: 3rem 0;
  padding: 1.2rem 3rem;
  border: 0.1rem solid #ddd;
  border-radius: 6px;
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #eee;
}

.noLeaflet {
  padding: 5rem 0;
}

.noLeafletMessage {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #555;
}

@media (max-width: 700px) {
  .modalContent {
    max-height: 75vh;
  }
  .qrDownloadArea {
    padding: 0rem;
  }
  .downloadButton {
    margin: 2rem 0;
  }
}
