.chatbotContainer {
  position: fixed;
  margin-left: 28rem;
  bottom: 2rem;
  z-index: 1000;
}

.chatbotButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.2rem 1rem;

  background-color: #329760;

  color: #fff;
  font-size: 3rem;

  transition: 0.3s;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33rem;
  height: 52rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 20px;
  background-color: #f0f5ff;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  background-color: #e9f9ef;
  color: white;
}

.headerTitle {
  color: #333;
  font-size: 1.6rem;
}

.closeButton {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: #333;
  font-size: 2rem;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.96rem;

  background-color: #fff;
}

.botMessageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.96rem;
  width: 100%;
  gap: 0.8rem;
}

.userMessageContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0.96rem;
  box-sizing: border-box;
}

.botContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.botName {
  margin-bottom: 0.16rem;
  margin-left: 0.48rem;
  color: #333;
  font-size: 1.44rem;
  font-weight: bold;
}

.botProfile {
  align-self: flex-end;
  width: 2.88rem;
  height: 2.88rem;
  border-radius: 50%;
}

.botBubble,
.userBubble {
  max-width: 70%;
  padding: 0.96rem;
  font-size: 1.44rem;
  word-break: break-word; 
  overflow-wrap: break-word;
  white-space: pre-line;
}

.botBubble p, .userBubble p {
  white-space: pre-line;
}

.botBubble {
  border-radius: 1.8rem 1.8rem 1.8rem 0;
  color: #333;
  background-color: #e9f9ef;
}

.userBubble {
  border-radius: 1.8rem 1.8rem 0 1.8rem;
  color: #eee;
  background-color: #b37de7;
}

.inputContainer {
  display: flex;
  padding: 0.8rem;
  border-top: 0.16rem solid #ccc;
  background-color: #fff;
}

.input {
  flex: 1;
  height: 4.5rem;
  padding: 0.96rem 1.28rem;
  border: 0.16rem solid #ccc;
  border-radius: 2rem;
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  outline: none;
}

.input:focus {
  border: 0.16rem solid #3cb371;
  box-shadow: 0 0 0.4rem #3cb371;
}

.sendButton {
  border: none;
  margin-left: 1rem;
  background-color: #fff;
  color: #3cb371;
  font-size: 1.4rem;
  font-weight: 500;
}
