.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 4rem 20rem 6rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dropboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nonDataText {
  padding-top: 3rem;
  text-align: center;
  color: var(--gray02);
  font-size: 1.4rem;
}

@media (max-width: 1500px) {
  .layout {
    padding: 4rem 10rem 6rem;
  }
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .layout {
    padding: 4rem 5rem 6rem;
  }
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .layout {
    padding: 4rem 2rem 6rem;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
