.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background-color: white;
  width: 100%;
  max-width: 50rem;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 40rem;
}

.modalHeader {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 0.1rem solid #eee;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #666;
  position: absolute;
  left: 1.5rem;
}

.modalTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  color: #666;
}

.modalContent {
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.passwordSection {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
}

.sectionDescription {
  font-size: 1.4rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  width: 100%;
}

.input {
  width: 100%;
  padding: 1.2rem 1.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}

.input::placeholder {
  color: #aaa;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.submitButton {
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2rem;
  width: 100%;
}

.submitButton:hover {
  background-color: var(--primary);
}

.errorMessage {
  color: #ff4d4f;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
